:root {
  --color1: rgba(221, 208, 200, 1);
  --color2: rgba(71, 102, 137, 1);
  --color3: rgb(22, 77, 104);
  --color4: rgb(113, 181, 210);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page
  (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--color1);
  color: var(--color2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

/*removing default link styling and adding pointer cursor on link hover*/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 80px;
  background-color: var(--color3);
  color: var(--color4);
  justify-content: space-between;
}

#navBar h1 {
  display: flex;
  width: 25%;
  max-width: 250px;
  padding: 10px;
  border-top: solid 7px;
  border-bottom: solid 7px;
  border-right: solid 7px;
  align-items: center;
  justify-content: right;
  border-color: var(--color3);
  background-color: var(--color4);
  color: var(--color3);
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  font-size: 1.8rem;
  text-decoration: underline var(--color4) solid 3px;
  text-underline-offset: 5px;
  display: flex;
  width: 75%;
}

#navBar ul {
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

#navBar li {
  padding: 10px;
}

/* defining large screen grid with all inner elements*/
#heroGrid {
  margin: 0;
  display: grid;
  grid-row-gap: 20px;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 1fr 1fr 10fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "banner         banner    banner"
    "aboutTitle     about     about"
    "workTitle      app1      app1"
    "workTitle      app2      app3"
    "workTitle      app4      app5"
    "contactTitle   contact   contact"
  ;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#banner {
  grid-area: banner;
  background-image: url("../images/02-hero-bg.jpg");
  margin: 0;
  height: 200px;
  min-height: 20vh;
  max-height: 30vh;
  position: relative;
}

#banner div {
  position: absolute;
  bottom: 15%;
  right: 5%;
  z-index: 1;
}

#banner h2 {
  font-size: 2.5rem;
  background-color: var(--color4);
  color: var(--color3);
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#navBar h1 {
  display: flex;
  width: 25%;
  max-width: 250px;
  padding: 10px;
  border-top: solid 7px;
  border-bottom: solid 7px;
  border-right: solid 7px;
  align-items: center;
  justify-content: right;
  border-color: var(--color3);
  background-color: var(--color4);
  color: var(--color3);
}

#aboutTitle,
#workTitle,
#contactTitle {
  padding-right: 15px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: right;
  border-right: solid 4px var(--color2);
}

#aboutTitle h1,
#workTitle h1,
#contactTitle h1 {
  width: 110px;
}

#aboutTitle {
  grid-area: aboutTitle;
}

#workTitle {
  grid-area: workTitle;
}

#contactTitle {
  grid-area: contactTitle;
}

#about {
  grid-area: about;
  display: flex;
  flex-direction: row;
}

#about p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-right: 60px;
}

#app1,
#app2,
#app3,
#app4,
#app5 {
  border: solid 5px var(--color4);
  opacity: 0.5;
  transition: 0.4s ease-in-out;
}

#app1:hover,
#app2:hover,
#app3:hover,
#app4:hover,
#app5:hover {
  opacity: 1;
}

#app2,
#app3,
#app4,
#app5 {
  height: 20vh;
}

#app1,
#app3,
#app5 {
  margin-right: 60px;
}

#app1,
#app2,
#app4 {
  margin-left: 35px;
}

#app3,
#app5 {
  margin-left: 15px;
}


#app1 {
  grid-area: app1;
  background-image: url("../images/horiseon-website-demo.png");
  height: 30vh;
  margin-top: 10px;
}

#app2 {
  grid-area: app2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#app3 {
  grid-area: app3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#app4 {
  grid-area: app4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#app5 {
  grid-area: app5;
  background-image: url("../images/02-run-buddy.jpg");
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: var(--color3);
  color: var(--color4);
  opacity: 1 !important;
  z-index: 1;
}

#contact {
  grid-area: contact;
  display: flex;
}

#contact ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#contact li {
  padding: 10px;
}

#contact a {
  text-decoration: underline var(--color4) solid 3px;
}

/*media query for medium screens*/
@media only screen and (max-width: 1000px) {

  h1 {
    font-size: 2.6rem;
  }

  #contact ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* media query for small screens */
@media only screen and (max-width: 600px) {

  /*realigning grid for smaller screens*/
  #heroGrid {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "banner         banner"
      "aboutTitle     about"
      "workTitle      app1"
      "workTitle      app2"
      "workTitle      app3"
      "workTitle      app4"
      "workTitle      app5"
      "contactTitle   contact"
    ;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  ul {
    font-size: 1.5rem;
  }

  #navBar h1 {
    width: 35%;
    font-size: 2.2rem;
  }

  #navBar ul {
    padding: 0;
    justify-content: center;
  }

  #banner h2 {
    font-size: 2rem;
  }

  #aboutTitle,
  #workTitle,
  #contactTitle {
    margin-left: 0px;
    width: 85%;
  }

  #aboutTitle h1,
  #workTitle h1,
  #contactTitle h1 {
    width: 90px;
  }

  #app1,
  #app2,
  #app3,
  #app4,
  #app5,
  #about p {
    margin: 0;
    padding: 0;
    margin-right: 25px;
  }
}