:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
  --body-bg: #CEC7D9;
  --body-text: #06645c;
  --header-bg: #de8964;
  --header-text: #276183;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 70px;
  background-color: var(--header-bg);
  color: var(--header-text);
}
#navBar h1 {
  display: flex;
  width: 25%;
  max-width: 250px;
  padding: 10px;
  border-top: solid 7px;
  border-bottom: solid 7px;
  border-right: solid 7px;
  font-weight: 1000;
  font-size: 3rem;
  align-items: center;
  justify-content: right;
  border-color: var(--header-bg);
  background-color: var(--header-text);
  color: var(--header-bg);
}
#navigation {
  display: flex;
  width: 75%;
  padding-right: 50px;
  align-items: center;
  justify-content: flex-end;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
  font-size: 1.7rem;
  text-decoration: underline var(--header-text) solid 3px;
  text-underline-offset: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--body-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
